ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
}
ion-label {
  margin-top: 12px;
  margin-bottom: 12px;
}

ion-item h2 {
  font-weight: 600;
  margin: 0;
}

ion-item p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 95%;
}

ion-item .date {
  float: right;
  align-items: center;
  display: flex;
}

ion-item ion-icon {
  color: #5088a6;
}
ion-item ion-icon {
  font-size: 64px;
}
ion-item ion-button ion-icon{
  color: #ffffff;
  font-size: 24px;
}

ion-item ion-note {
  font-size: 15px;
  margin-right: 8px;
  font-weight: normal;
}

ion-item ion-note.md {
  margin-right: 14px;
}

.icon-music {
  display: block;
  align-self: start;
  margin: 16px 10px 16px 16px;
  cursor: pointer;
}

ion-footer ion-title {
  font-size: 11px;
  font-weight: normal;
}

.options-button{
  padding-right: 2rem;
}

.ion-text-wrap{
  cursor: pointer;
}

