<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lista de canciones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


  <ion-list>
    <app-item-song *ngFor="let message of getSongs()" [message]="message"></app-item-song>
  </ion-list>
  <ion-fab slot="fixed" horizontal="center" vertical="center" [routerLink]="'/create'">
    <ion-fab-button color="tertiary" >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
