<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="getBackButtonText()" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
    Crear canción
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
    <ion-item>
      <ion-label>Nombre: </ion-label>
      <ion-input formControlName="name_song" placeholder="Ingrese el nombre de la canción" ></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl['name_song'].errors?.['required']">
        Este campo es obligatorio
    </span>
    <ion-item>
      <ion-label>Artista: </ion-label>
      <ion-input formControlName="artist" placeholder="Ingrese el nombre del artista" ></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl['artist'].errors?.['required']">
        Este campo es obligatorio
    </span>
    <ion-button expand="block" type="submit">Guardar</ion-button>
  </form>

</ion-content>
